header {
    backdrop-filter: blur(1rem);
    height: 5.2rem;
    display: flex;
    align-items: center;
    padding-left: 64rem;
    border-bottom: 1px solid ;
}

header ul {
    display: flex;
    gap: 5.4rem;
}

header ul,
header li {
    list-style: none;
}

header a {
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    line-height: 1.2rem;
}

header a.active {
    color: var(--black);
    font-weight: 700;
}

nav li:hover {
    transform: scale(1.1);
    transition: .4s;
}